@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@600&display=swap');

.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: transparent;
    text-align: left;
    min-width: 992px !important;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .2rem;
    background-color: #e3f2fd;
    line-height: 60px;
    border-color: black;
}


.card-body p {
    text-align: center;
    color: red;
}

.carousel-caption h3 {
    font-size=2.5rem;
    font-weight: 800;
    font-style=2rem;
    color: purple
}

.help h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    text-align: center;

    color: #000000;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption h5 {
    text-align: center;
    font-size=45px;
    text-transform: uppercase;
    letter-spacing: :2px;
    font-weight: 600;
    padding-bottom: 1.6rem;
    margin-top: 25px;
    font-family: 'Montserrat';
    color: black;
}

.carousel-caption h3 {
    font-size=2.5rem;
    font-weight: 600;

    padding-bottom: 1.6rem;
}

.container1 {
    margin-top: 10%;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.shopping .h3 {
    position: absolute;
    width: 523px;
    height: 33px;
    left: 457px;
    top: 1536px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}



.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutSection h3 {
    font-size: 40px;
}

.aboutSection .container-full {
    padding-bottom: 0px;
}

.aboutSection p {
    color: #252525;
    font-size: 19px;
    line-height: 2.1;
    margin-top: 22px;
}

.aboutSection img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

hr {
    border: 2px solid #00BCD4;
    width: 32px;
    margin-left: 0px;
    margin-top: 30px;

}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.box:nth-child(1) {
    background-image: url("Picture/aboutUs.jpg");
}

.box:nth-child(2) {
    background-image: url("Picture/iji.jpg");
    z-index: 2;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}

.box:nth-child(2):hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.box:nth-child(1):hover~.box:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.page-section {
    padding: 3rem 0;
    background: ghostwhite;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}

.text-secondary {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




*,
*::before,
*::after {
    box-sizing: border-box;
}

.social-icons {
    float: left;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

/*Footer*/
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.copyright {
    background-color: #1a252f;
}

footer {
    display: block;
    position: absolute;
    width: 1921px;
    height: 200px;
    left: 0px;
    top: 2487px;
    background: #2C1361;
}

.contact p {
    text-align: center;
    color: white;
}